.login{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/public/background_banner.jpg');
    padding: 20px 8%;
}
.login-logo{
    width: 150px;
}
.login-form{
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.75);
    padding: 60px;
    border-radius: 4px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;

    margin-bottom: 28px;
    color: white;
}
.login-form input{
    width: 100%;
    height: 50px;
    padding: 16px 20px;
    margin: 12px 0;
    border: 0;
    outline: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.login-form button{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 16px;
    border: 0;
    outline: none;
    border-radius: 4px;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.form-help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    color: #b3b3b3;
    font-size: 13px;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 18px;
    height: 18px;
    accent-color: #e50914;
}
.form-switch{
    margin-top: 40px;
    color: #737373;
}
.form-switch span{
    margin-left: 6px;
    color: #fff ;
    font-weight: 500;
    cursor: pointer;
}
.loading-spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-spinner img{
    width: 60px;
}



@media  (max-width: 500px) {
    .login{
        padding: 15px 5%;
    }
    .login-form {
        padding: 20px;
        margin-top: 30px;

    }

}