name: Daily Task

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at 2:00 AM UTC
  workflow_dispatch:      # Optional: allows manual run from GitHub

jobs:
  run-daily-task:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Python script
        run: python sync.py
